// .socialLinks {

// }

// .card {
//     display: flex;
//     position: relative;
//     margin-top: 2em;
//     margin-bottom: 2em;
//     margin-left: auto;
//     margin-right: auto;
//     width: 60%;
//     height: 5em;
//     overflow: hidden;
//     //  hautgauche hautdroite basdroite basgauche
//     border-radius: 20px 20px 20px 20px;
// }
// .card-text {
//     margin-left: 20%;
//     padding: 1.3em;
//     width: 80%;
//     background-color: #F6F6F6;
// }

// .card-text p {
//     color: #999898;
// }

// .linkedin img {
//     position: absolute;
//     margin-top: -0.4em;
//     margin-left: 0.6em;
//     width: 8em;
// }

// .whire img {
//     position: absolute;
//     margin-top: 1.2em;
//     margin-left: 1.5em;
//     width: 6em;
// }

.column {
    display: flex;
    justify-content: space-around;
    width: 60%;
    flex-wrap: wrap;
    gap: 2em;
    margin: auto;
    padding: 0 10px;
  }

  .column a {
    color: #121212;
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    width: 30%;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    background-color: #f1f1f1;
    transition: transform .2s;
    text-decoration: none;
  }

  .column a:hover {
    transform: scale(1.1);
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  // .card {
  //   margin-top: 2em;
  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  //   padding: 16px;
  //   width: 30%;
  //   text-align: center;
  //   border-radius: 20px 20px 20px 20px;
  //   background-color: #f1f1f1;
  //   transition: transform .2s;
  // }

  // .card:hover {
  //   transform: scale(1.1);
  // }

    .card {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      height: 12em;
      overflow: hidden;
    }

  .column:nth-child(1) .card-2 img {
    margin-top: 0.8em;
  }

  .column:nth-child(2) .card-4 img {
    margin-top: 1em;
  }

  .column:nth-child(2) .card:nth-child(1) img {
    margin-top: 1em;
  }
  
  .card img {
    width: 6em;
  }

  .column:nth-child(2) .card-5 img {
    width: 4em;
  }

.card h1 {
    font-size: 1.4rem;
}

.card p {
  font-size: 0.9rem;
  color: #757575;
}

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }