.column {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .column a {
    color: #121212;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    background-color: #f1f1f1;
    text-decoration: none;
  }

  .column:nth-child(1) .card-2 img {
    margin-top: 0.8em;
  }

  .column:nth-child(2) .card-4 img {
    margin-top: 1em;
  }

  .column:nth-child(2) .card:nth-child(1) img {
    margin-top: 1em;
  }
  
  .card img {
    width: 6em;
  }

  .column:nth-child(2) .card-5 img {
    width: 4em;
  }

.card h1 {
    font-size: 1.4rem;
}

.card p {
  font-size: 0.9rem;
  color: #505050;
}