// FONTS IMPORTS
@font-face {
    font-family: "font-1";
    src: url("./fonts/SpaceMono-Regular.ttf");
}
$font-1: "font-1";

// COLORS
$color-light: #F6F6F6;
$color-dark: #121212;

// RESPONSIVE BREAKPOINTS
// TABLETS
@media(min-height: 320px) and (max-width: 767px) {
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 0 10px;
    }
    .column a {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        width: 80%;
        height: 12em;
    }
    .bigTitle h1 {
        margin-bottom: -0.5em;
        font-size: 1.7rem;
    }
    .bigTitle p {
        margin-top: 1em;
        font-size: 0.9rem;
    }
}

// SMARTPHONES
@media(max-width: 425px) {
    .bigTitle p:last-child {
        width: 90%;
    }
    .column {
        width: 100%;
    }
    .card-1 {
        margin-top: -0.27em;
    }
    .card-4 {
        margin-top: -0.40em;
    }
}

// LAPTOPS
@media(min-height: 768px) and (max-width: 1388px) {
    .bigTitle {
        margin-bottom: 1em;
    }
    .column {
        justify-content: center;
    }
    .column a {
        margin-left: 1em;
        margin-right: 1em;
        width: 40%;
        transition: transform .2s;
    }
    .column a:hover {
        transform: scale(1.1);
    }
    .column a:nth-child(3) {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .copyright {
        margin-top: 1em;
    }
}

// DESKTOPS
@media(min-width: 1388px) {
    .bigTitle {
        margin-bottom: 1em;
    }
    .column {
        justify-content: center;
        width: 40%;
    }
    .column a {
        margin-bottom: 1.5em;
        margin-left: 1em;
        margin-right: 1em;
        width: 40%;
        transition: transform .2s;
    }
    .column a:hover {
        transform: scale(1.1);
    }
}