// IMPORTS
@import "./settings";
@import "./components/avatarimage";
@import "./components/bigTitle";
@import "./components/socialLinks";
@import "./components/copyright";

// GENERALS
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 50vh;
    font-family: $font-1;
    background-color: #0f0f0f;
    animation: gradient 15s ease infinite;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}